@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "roboto";
}

:root {
  --branco: #ffffff;
  --cinzaclaro: #ebebeb;
  --cinzaescuro: #ccc;
  --azulclaro: #00accc;
  --azulescuro: #002b33;
  --cinzagrafite: #151515;
}

html, body {
  overflow-x: hidden;
}

.intro {
  max-width: 100vw;
  max-height: 100svh;
  display: flex;
  justify-content: center;
  background-color: var(--azulescuro);
  background-attachment: scroll;
}

.background {
  width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-portfolio {
  color: var(--azulclaro);
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 200px;
}

.text-autor {
  color: var(--branco);
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.text-job {
  font-weight: 200;
  color: var(--branco);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  margin-bottom: 350px;

}

.historico {
  min-width: 100vww;
  padding: 30px 30px 45px;
  display: flex;
  justify-content: center;
  
}

.historico-background {
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.historico-sobre {
  color: var(--azulclaro);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.historico-headline {
  color: var(--azulescuro);
  font-size: 3rem;
  max-width: 30rem;
  text-align: center;
  margin-bottom: 30px;
}

.historico-paragraph {
  color: var(--cinzagrafite);
  font-size: 1rem;
  max-width: 35rem;
  text-align: justify;
  margin-bottom: 45px;
}

.conhecimento {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 60px;
}

.cursos {
  display: flex;
  flex-direction: column;
}

.curso-headline {
  color: var(--azulescuro);
  text-transform: uppercase;
}

.curso-paragraph {
  margin-bottom: 30px;
}

.skill {
  margin-bottom: 1rem;
  width: 15rem;
}

.skill-name {
  font-weight: bold;
  color: var(--azulescuro);
}

.skill-bar {
  background-color: var(--cinzaescuro);
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  margin-top: 5px;
}

.skill-fill {
  background-color: var(--azulescuro); /* pode usar gradiente também */
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.interesses {
  min-width: 100vw;
  padding: 30px 30px 45px;
  display: flex;
  justify-content: center;
  background-color: var(--azulescuro);
  
}

.interesses-background {
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interesses-headline {
  font-weight: bold;
  font-size: 3rem;
  color: var(--branco);
  margin-bottom: 45px;
}

.interesses-texto {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--branco);
  margin-bottom: 60px;
}

.interesses-imagens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.interesses-imagens-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 16/9;

}

.testemunhos {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cinzaclaro);
  padding: 30px 30px 45px;
}

.testemunhos-headline {
  font-weight: bold;
  font-size: 3rem;
  color: var(--azulescuro);
  margin-bottom: 45px;
}

.carousel-container {
  max-width: 70rem; /* Largura dos cards contidos no carousel */
  overflow: hidden;
  position: relative;
  /* padding: 0 20px; */
}

.cards-flex {
  display: flex;
  width: 300%; 
  transition: transform .5s ease-in-out;
  gap: 20px; 
}

.card-item {
  position: relative;
  flex: calc(33.3333% - 14px); /* Nada ocorre quando se altera */
  width: 20rem;
  height: 20rem;
  border: solid var(--azulescuro) 2px;
  box-shadow: 0 0 3px var(--cinzagrafite);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.carousel-buttons {
  margin-top: 20px;
  text-align: center;
}

.carousel-btn {
  background-color: var(--azulescuro);
  color: var(--branco);
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  transition: background-color .3s ease;
}

.carousel-btn:hover, .carousel-btn.active {
  background-color: var(--azulclaro);
}

.card-item-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
}

.card-item-paragraph {
  color: var(--cinzagrafite);
  text-align: center;
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 15px;
  /* height: 9rem; */
}

.card-item-name {
  font-weight: bold;
  color: var(--azulescuro);
}

.card-item-job {
  font-size: .9rem;
  opacity: .8;
}

.card-item-aspas {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--azulescuro);
  width: 40px;
  height: 40px;
  top: 0px;
  left: 30px;
}



.card-item-aspas-texto {
  color: var(--branco);
  font-size: 4rem;
  font-weight: bold;
  transform: translateY(10px);
}

@media (max-width: 1200px) {
  .cards-flex {
    flex: 0 calc(50% - 10px);
  }

}

@media (max-width: 780px) {
  .cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}